body{
    margin: 0;
    padding: 0;
}

.sect-1{
    background-color: #FFA299;
    padding: 50px;
}

.sect-1 img{
    width: 15%;
}

.sect-1 h3{
    font-size: 15px;
    margin: 15px;
    text-align: justify;
}

.sect-2 h1{
    text-align: center;
    font-family: 30px;
}

/* .sect-2 h3{
    font-family: 25px;
    text-align: left;
} */

.decora{
    position: absolute;
    width: 100%;
    height: 350px;
    top: 650px;
}
.pulse{
    position: absolute;
    width: 50%;
    right: 10px;
    top: 520px;
    z-index: 1;
}

button{
    position: absolute;
    top: 880px;
    left: 425px;
    margin: 10px;
    background-color: #01FBFF;
    width: 200px;
    height: 40px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    border: none;
    font-weight: 600;
}
 